
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* height: 100vh; */
    background-color: rgb(0, 0, 0);
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: min(250px, 40%) 4fr;
    grid-template-rows: 100px 90px 10fr;
    width: 100vw;
    height: 100vh;
}

.container div {
    padding: 8px;
    font-weight: bold;
    color: rgb(63, 255, 63);
}

.container a {
    color: rgb(63, 255, 63);
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
}
.sidebar {
    background-color: rgb(0, 0, 0);
    grid-row: 1/3;
    gap: 40px;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    /* padding: 30px; */
    margin: 30px 10px;
}

.topSidebar,
.bottomSidebar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bottomSidebar {
    /* justify-self: end;
     */
    align-self: end;
}

.dashboard-logo {
    font-size: 24px;
    display: flex;
    align-items: center;
}
.material-symbols-outlined {
    /* vertical-align: middle; */
    font-size: 32px;
}
.md-24 {
    font-size: 24px;
}

.header {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin: 30px 10px 0 0;
}

.header>* {
    align-self: center;
}


.form-input {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

input {
    padding-right: max(150px, 60%);
    display: block;
    padding-left: 40px;
    width: 100%;
    line-height: 25px;
    outline: 0;
    font-size: 18px;
    color: rgb(63, 255, 63);
}
.form-input span {
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul{
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 20px;

}

.menu img {
    height: 2rem;
    width: 2rem;
}
.nav {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 100px 2fr 1.5fr; 
    /* display: flex; */
    gap: 30px;
    /* justify-content: space-around; */
}

.nav img{
    height: 4rem;
    width: 4rem;
}

.nav .hi {
    font-size: 12px;
    font-weight: lighter;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 40px;
}
.nav>* {
    align-self: center;
}

.inner {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 2/3;
    background-color: rgb(0, 0, 0);
    gap: 10px;
}



.projects {
    display: grid;
    grid-column: 1/2;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;

}


.projects .card {
    background-color: rgb(19, 19, 19);
    height: 250px;
    padding: 25px;
    /* border-style: solid; */
    border-left: 8px solid;
    border-color: yellow;
    border-radius: 5px;
}

.notifications {
    margin-right: 20px;
}

.announcements {
    display: grid;
    grid-column: 1/2;
    gap: 15px;
    background-color: rgb(19, 19, 19);
    border-radius: 5px;
    margin-top: 8px;

}

.announce-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.a-content{
    font-size: 12px;
    font-weight: lighter;
}


.trendingTitle {
    margin-top: 10px;
}

.trending {
    display: grid;
    grid-column: 1/2;
    gap: 15px;
    background-color: rgb(19, 19, 19);
    border-radius: 5px;
}




.footer {
    /* background-color: blue; */
    grid-column: 1/3;
    justify-self: center;
    font-size: 12px;
    font-weight: lighter;
}


